﻿@{
    ViewData["Title"] = "Home Page";
}

 <form asp-action="Index" method="post">
        <label for="dropdown">Select an option:</label>
        <select id="dropdown" name="SelectedText">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        
        <input type="hidden" id="hiddenInput" name="HiddenValue" />

        <button type="submit">Submit</button>
    </form>

@section Scripts
{
        <script>
             function updateHiddenInput() {
                            var selectedText = $('#dropdown').find('option:selected').text();
                            var hiddenValue = $('#dropdown').val();
                            $('#hiddenInput').val(hiddenValue);
            
                            // Remove the temporary option if it exists
                            $('#dropdown option.temp-option').remove();
            
                            // Add a temporary option with the selected text as its value
                            $('#dropdown').append(new Option(selectedText, selectedText, true, true)).addClass('temp-option');
                        }
            
                        // Update hidden input on change
                        $('#dropdown').change(function () {
                            updateHiddenInput();
                        });
            
                        // Update hidden input on page load
                        updateHiddenInput();
        </script>
}
